<div>
    André Marcelo Alvarenga<br>
    <i>for the brazilian portuguese (pt_BR) translation.</i>
</div>
<div>
    Étienne Deparis<br>
    <i>for the french (fr) translation.</i>
</div>
<div>
    gluon9<br>
    <i>for the french (fr) translation.</i>
</div>
<div>
    Igor Almeida<br>
    <i>for the help with F-Droid.</i>
</div>
<div>
    Jesper Runeson<br>
    <i>for the amazing app icon.</i><br>
    <i>for the notification icon.</i><br>
    <i>for the navigation drawer header image.</i>
</div>
<div>
    Mihai Ibanescu<br>
    <i>for the Fuel Consumption setting.</i>
</div>